@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Home</li>
    </ol>
}

<div class="side-body padding-top">
    @Html.PowerBIAccessToken()
    @{
        var userName = "Please Login";
        var email = "";
        var picture = "batman.jpg";
        if (Session["User"] != null)
        {
            userName = Session["User"].ToString();
            email = Session["Email"].ToString();
            picture = Session["Role"].ToString() + ".jpg";
        }
    }
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
                <div class="card red summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-inbox fa-4x"></i>
                        <div class="content">
                            <div class="title">50</div>
                            <div class="sub-title">New Mails</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
                <div class="card yellow summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-comments fa-4x"></i>
                        <div class="content">
                            <div class="title">23</div>
                            <div class="sub-title">New Messages</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
                <div class="card green summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-tags fa-4x"></i>
                        <div class="content">
                            <div class="title">280</div>
                            <div class="sub-title">Assets</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a href="#">
                <div class="card blue summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-share-alt fa-4x"></i>
                        <div class="content">
                            <div class="title">16</div>
                            <div class="sub-title">Shares</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row  no-margin-bottom">
        <div class="col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card primary">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="thumbnail no-margin-bottom">
                        <img src="../img/thumbnails/healthcare-providers-smiling.jpg" class="img-responsive">
                        <div class="caption">
                            <h3 id="thumbnail-label">Ask The Expert - Get Your Health Questions Answered Each Month<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                            <p>Tune into Ask The Expert every 2nd Tuesday of the month on KUTV.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="thumbnail no-margin-bottom">
                        <img src="../img/thumbnails/blog-network.jpg" class="img-responsive">
                        <div class="caption">
                            <h3 id="thumbnail-label">The Intermountain Blog - Helping People Live The Healthiest Lives Possible<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                            <p>Intermountain publishes innovative healthcare ideas in our blog network that share our efforts to transform healthcare through high quality and sustainable costs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card primary">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card primary">
                    </div>
                </div>
            </div>
            <div class="card card-success">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title"><i class="fa fa-comments-o"></i> Recent Messages</div>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="card-body no-padding">
                    <ul class="message-list">
                        <a href="#">
                            <li>
                                <img src="../img/profile/Carl.jpg" class="profile-img pull-left">
                                <div class="message-block">
                                    <div>
                                        <span class="username">Carl McDonald</span> <span class="message-datetime">12 min ago</span>
                                    </div>
                                    <div class="message">They are awesome!</div>
                                </div>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <img src="../img/profile/Dale.jpg" class="profile-img pull-left">
                                <div class="message-block">
                                    <div>
                                        <span class="username">Dale Forbes</span> <span class="message-datetime">15 min ago</span>
                                    </div>
                                    <div class="message">What do you think about those dashboards?</div>
                                </div>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <img src="../img/profile/Dale.jpg" class="profile-img pull-left">
                                <div class="message-block">
                                    <div>
                                        <span class="username">Dale Forbes</span> <span class="message-datetime">2 hour ago</span>
                                    </div>
                                    <div class="message">Take a look at the awesome new dashboards to get your answer.</div>
                                </div>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <img src="../img/profile/Carl.jpg" class="profile-img pull-left">
                                <div class="message-block">
                                    <div>
                                        <span class="username">Carl McDonald</span> <span class="message-datetime">1 day ago</span>
                                    </div>
                                    <div class="message">How many projects do we have wrapping up in the next few weeks?</div>
                                </div>
                            </li>
                        </a>
                        <a href="#" id="message-load-more">
                            <li class="text-center load-more">
                                <i class="fa fa-refresh"></i> load more..
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>